# Environment Variables

# Mailgun API key
MAILGUN_API_KEY=your_mailgun_api_key

# Mailgun Domain
MAILGUN_DOMAIN=your_mailgun_domain

# MongoDB connection string
MONGODB_CONNECTION_STRING=your_mongodb_connection_string

# Application Port
PORT=your_port_configuration
